<div>
  <div class="row">
    <div class="col-sx-12 col-md-4">

      <input class="form-control patient-search "  placeholder="Search switch" ng-model="query.name">
    </div>
  </div>
  <a class="patient-add-button" href='#/new' ><img src="/assets/add_user.png" width="30" height="30"></a>
</div>
<div >
  
<div class="patient-card col-md-5 col-xs-12 col-lg-3 patient-listing" ng-repeat="switch in switches|filter:query ">
  <a class="patient-href col-md-5 col-xs-12 col-lg-3" href='{{switch.url}}'>
  <div>
    <div class = "patient-name">{{switch.name}}</div>
  </div>
  </a>
</div>

</div> <br>
